#ballHolder {
    height: calc(100vh - 50px);
    width: calc(100vw - 20px);
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}

.button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: #03d;
    color: #fff;
}

.button:hover {
    cursor: pointer;
    background-color: #05b;
}

.ball {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    position: absolute;
    color: white;
    font-size: 40px;
}

.ball.red {
    background-color: #ff0000;
}
.ball.blue {
    background-color: #0000ff;
}
.ball.green {
    background-color: #00aa00;
}
.ball.purple {
    background-color: #aa00aa;
}
.ball.orange {
    background-color: #ff7700;
}
.ball.black {
    background-color: #000000;
}